DATABASE_URL="postgresql://ankor:ankor123@localhost:5432/ankor"
SESSION_SECRET="clave-secreta-para-ankor-proyecto-seguridad-2026"
NODE_ENV=production
POSTGRES_USER=ankor
POSTGRES_PASSWORD=ankor123
POSTGRES_DB=ankor